@charset "UTF-8";
@font-face {
    font-family: 'FonteLogo';
    src: url(../_fonts/bubblegum-sans-regular.otf);
}
@import url('https://fonts.googleapis.com/css2?family=Bitcount+Prop+Single:wght@100..900&family=Titillium+Web:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700&display=swap');
p#text {
            text-align: justify;
            font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
            font-size:14px;
            color: black;
            text-indent: 50px;
        }
h1, h2, h3 {
            font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
            align-items: left;
            color: black;
        }
body {
            background-color: #dddddd;
            font-family: Arial, Helvetica, sans-serif;
        }
a {
    color: #606060;
    text-decoration: none;
    }
a:hover {
    text-decoration: underline;
    }
/*Formatação de imagens com legendas*/
figure.foto-legenda {
    Border: 2px solid grey;
    box-shadow: 1px 1px 5px black;
    position: relative;
    }
figure.foto-legenda img {
    width: 100%;
    height: 100%;
    }
figure.foto-legenda figcaption {
    opacity: 0;
    background-color: rgba(255, 255, 255, 0.7);
    padding: 10px;
    text-align: center;
    position: absolute;
    top: 0px;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    transition: opacity 1s;
    }
figure.foto-legenda:hover figcaption {
    opacity: 1;
    transition: opacity 0.5s;
    }

/*Formatação do Menu*/
nav#Menu {
    display: block;
    }
nav#Menu ul {
    list-style-type: none;
    text-transform: uppercase;
    position: absolute;
    top: -11px;
    left: 300px;
    }
nav#Menu li {
    display: inline;
    margin-right: 10px;
    background-color: lightgrey;
    border: grey 1px solid;
    padding: 5px;
    transition: background-color 1s;
    }
nav#Menu li:hover{
    background-color: grey;
    }
nav#Menu h1 {
    display: none;
    }
nav#Menu a {
    color: black;
    text-decoration: none;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
nav#Menu a:hover {
    color: white;
}
/*formatação da interface */
div#interface {
    width: 900px;
    background-color: white;
    margin: -25px auto 10px auto;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    padding: 10px;
    }
header#cabecalho img#icone {
    position: absolute;
    left: 780px;
    top: 70px;
    }
header#cabecalho {
    border-bottom: 1px #606060 solid;
    height: 150px;
    background: url("../_imagens/glass-logo-peq.jpg");
    background-repeat: no-repeat;
    background-position: 0px 90px;
}
header#cabecalho h1 {
    font-family: 'FonteLogo';
    font-size: 30pt;
    text-shadow: 1px 1px 1px black;
    color: #606060;
    padding: 0px;
    margin-bottom: 0px;

}
header#cabecalho h2 {
    font-size: 15pt;
    color: #888888;
    padding: 0px;
    margin-top: 0px;
    font-family: "Titillium Web", sans-serif;
}
section#corpo {
    display:block;
    width: 500px;
    float: left;
    border-right: 1px #606060 solid;
    padding-right: 20px;
}
aside#lateral {
    display:block;
    width: 350px;
    float: right;
    background-color: #dddddd;
    padding: 10px;
    margin-top: 10px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
}
aside#lateral h2 {
    font-family: 'FonteLogo', sans-serif;
    font-size: 13pt;
    color:white;
    padding: 10px;
    background-color: #cecece;
}
aside#lateral h1 {
    font-family: 'fonteLogo', sans-serif;
    font-size: 20px;
    color: #606060;
    margin-top: 10px;
    background-color: none;
}
footer#rodape p {
    clear: both;
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: #606060;
    border-top: 1px #606060 solid;
    padding: 10px;
    clear: both;
    font-size: 10px;
    }
table#tabelaspec {
    border: 1px solid #606060;
    border-spacing: 0px;
    margin-left: auto;
    margin-right: auto;
    background-color: grey;
}
table#tabelaspec td {
    border: 1px solid #606060;
    padding: 10px;
    text-align: left;
    vertical-align: middle;
    color: black;
    background-color: #b3b3b3;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
table#tabelaspec td.ce {
    background-color: #606060;
    font-weight: bold;
    text-align: right;
    color: white;
    vertical-align: top;
    font-weight: bold;
}
table#tabelaspec td.cd {
    background-color: #cecece;
    font-weight: bold;
    text-align: left;
    color: black;
}
table#tabelaspec caption {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 13pt;
    color: #888888;
}
table#tabelaspec caption span {
    font-size: 8pt;
    display: block;
    float: right;
    color: black;
    margin-top: 10px;
}
article#noticia-principal h2{
    font-size: 12pt;
    color: #606060;
    background-color: #dddddd;
    padding: 10px 0px 5px 0px;
    margin: 10px 0px 10px 0px;
}
header#cabecalho-artigo h1 {
    font-family: 'fonteLogo', sans-serif;
    font-size: 20pt;
    color: #606060;
    margin-bottom: 0px;
    margin-top: 0px;
}
header#cabecalho-artigo h2 {
    font-size: 13pt;
    color: #cecece;
    background-color: #ffffff;
    margin: 0px;
}
header#cabecalho-artigo h3 {
    font-size: 12px;
    color: #606060;
}
.direita {
    float: right;
}